.items-list {
  padding: 1rem;
  margin: 2rem 0 2rem 0;
  box-shadow:
    0px 6px 10px -4px rgba(0, 0, 0, 0.2),
    0px 10px 18px 0px rgba(0, 0, 0, 0.14),
    0px 3px 5px -2px rgba(0, 0, 0, 0.12);
}

table {
  width: 100%;
}

.mat-column-action {
  width: 124px;
  text-align: center;
}

.mat-column-name {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-sku {
  width: 100px;
}

.create-new-button {
  margin: 2rem 0 2rem 0;
  float: inline-end;
}

.mat-mdc-table {
  background-color: var(--mat-sys-background);
}

#createButton {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-inverse-on-surface);
}

#matPaginator {
  background-color: var(--mat-sys-background);
}

#filter {
  background-color: var(--mat-sys-background);
  width: 100%;
}
