.profile-properties {
  margin-top: 2rem;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 1vh;

  .profile-form {
    display: grid;
    .custom-properties-add-button {
      display: flex;
      align-items: center;
      gap: 2vh;
    }

    .type-backlog-row {
      margin-top: 1vh;
      width: 100%;
      display: flex;
      gap: 3vh;

      mat-form-field {
        flex: 1;
      }
    }

    .dynamic-inputs {
      display: flex;
      mat-form-field {
        width: 100%;
      }
    }
  }
  @media (max-width: 480px) {
    .profile-form {
      display: flex;
      flex-direction: column;
    }
  }
}

#createButton:not([disabled]) {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-inverse-on-surface);
}

#resetButton {
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-inverse-on-surface);
}

#cancelButton {
  background-color: var(--mat-sys-tertiary);
  color: var(--mat-sys-inverse-on-surface);
  margin-right: auto;
  @media (max-width: 480px) {
    margin-right: inherit;
  }
}

mat-card-actions {
  display: flex;
  align-items: center;
  gap: 2vh;
  @media (max-width: 480px) {
    flex-direction: column-reverse;
    width: 100%;
    button {
      width: inherit;
    }
  }
}
.mat-mdc-card-actions {
  padding: 8px 0 8px 0;
}

#matCard {
  border: 0;
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2),
    0px 10px 18px 0px rgba(0, 0, 0, 0.14), 0px 3px 5px -2px rgba(0, 0, 0, 0.12);
}
