.profile-properties {
  margin-top: 2rem;
}

.main-form {
  display: grid;
  gap: 1vh;

  .profile-form {
    display: grid;
    .custom-properties-add-button {
      display: flex;
      align-items: center;
      gap: 2vh;
    }

    .type-backlog-row {
      margin-top: 1vh;
      width: 100%;
      display: flex;
      gap: 3vh;

      mat-form-field {
        flex: 1;
      }
    }

    .dynamic-inputs {
      mat-form-field {
        width: 46%;
      }
    }
  }
}

#createButton:not([disabled]) {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-inverse-on-surface);
}

#resetButton {
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-inverse-on-surface);
}

#cancelButton {
  background-color: var(--mat-sys-tertiary);
  color: var(--mat-sys-inverse-on-surface);
  margin-right: auto;
}

mat-card-actions {
  display: flex;
  align-items: center;
  gap: 2vh;
}
.mat-mdc-card-actions {
  padding: 8px 0 8px 0;
}
