.app-footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 2vh;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.footer-content {
  max-width: 1048px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

span {
  font-size: 0.875rem;
  color: var(--mat-sys-secondary);
}

.socials button {
  color: var(--mat-sys-secondary);
}
