.app-footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 2vh;
}

.footer-content {
  max-width: 1048px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

app-container span {
  font-size: 0.875rem;
  color: var(--mat-sys-secondary);
}

.socials button {
  color: var(--mat-sys-secondary);
}
